<main class="form-signin w-100 m-auto">
  <div class="row">
    <div class="col-12" style="margin-top: 50%;">

      <form [formGroup]="usuarioForm" (submit)="handleNew()" [autocomplete]="false">
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Agenda Iatec</h1>

        <div class="row">
          <div class="col-12">
            <div class="alert alert-danger" role="alert" *ngIf="erro">
              <div *ngFor="let err of erros">
                {{err}}<br>
              </div>
            </div>
          </div>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput1" placeholder="Digite seu nome"
            formControlName="nome">
          <label for="floatingInput1">Nome</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput2" placeholder="Digite seu email"
            formControlName="username">
          <label for="floatingInput2">Digite eu email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingInput3" placeholder="Digite a Senha"
            formControlName="password">
          <label for="floatingInput3">Senha</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingInput4" placeholder="Confirme a Senha"
            formControlName="passwordConfirm">
          <label for="floatingInput4">Confirme a Senha</label>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar Usuário</button>
        <p class="mt-5 mb-3 text-muted">&copy; Rogerio Lobo</p>
      </form>
    </div>
  </div>
</main>